<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>OCaml - Applications</title>
</head>
<body id="Screen">

#include "body.header.include"

#include "body.leftmenu.include"


<h1>Applications</h1>

<p>Coming soon... For now, a short list is <a href="http://caml.inria.fr/about/successes.en.html">here</a>.</p>

#include "body.trailer.include"


</body>
</html>
