<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>OCaml - Community</title>
</head>
<body id="Screen">

#include "body.header.include"

#include "body.leftmenu.include"

<h1>Join the Community</h1>

<h2>Discussions</h2>
<ul>
  <li>OCaml on <a href="http://www.reddit.com/r/ocaml">Reddit</a>,
    <a href="http://stackoverflow.com/questions/tagged?tagnames=ocaml">Stack Overflow</a>
  <li>Mailing List (<a href="https://sympa-roc.inria.fr/wws/subscribe/caml-list">Subscribe</a>,
    <a href="https://sympa-roc.inria.fr/wws/arc/caml-list">Archives</a>)
  <li>IRC Channels: #ocaml </li>
  <li> Blogs: <a href="">Planet OCaml</a>
</ul>

<h2>Ressources</h2>

<ul>
  <li>Browse the <a href="">OCaml Hump</a> for available OCaml software
</ul>

#include "body.trailer.include"

</body>
</html>
