<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>OCaml - Teaching</title>
</head>
<body id="Screen">

#include "body.header.include"

#include "body.leftmenu.include"

<h1>Teaching with OCaml</h1>

<h2>Course Material</h2>

<ul>
  <li><em>"Data Structures and Functional Programming"</em> (CS 3110, 2012) at Cornell University (<a href="http://www.cs.cornell.edu/Courses/cs3110/2012sp/lecturenotes.php">Course info and material</a>)</li>
  <li><em>"Advanced Programming Languages"</em> (CS 6371, 2012) at UT Dallas
(<a href="http://www.utdallas.edu/~hamlen/cs6371sp11.html">Course info and material </a>)</li>
  <li><em>"Concepts of Programming Languages"</em> (CSE 505, 2012) at Univ. Washington (<a href="http://www.cs.washington.edu/education/courses/cse505/12wi/">Course info and material </a>)</li>
  <li><em>"Principles of Programming Languages"</em> (2011) at Univ. Brimingham
(<a href="http://www.cs.bham.ac.uk/~hxt/2011/02552/">Course info and material </a>)</li>
  <li><em>"Principles of Programming Languages"</em> (COSC 4780, 2012) at Univ. Wyoming (<a href="http://www.cs.uwyo.edu/~jlc/courses/4780/">Course info and material </a>)</li>
  <li><em>"Program Analysis and Understanding"</em> (CNSC 631, 2011)
  at Univ. Maryland
  (<a href="http://www.cs.umd.edu/class/fall2011/cmsc631/index.shtml">Course
  info and material </a>)</li>
 <li><em>"Programming Languages and Techniques"</em> (CIS 120, 2012) at Univ. Pennsylvania(<a href="http://www.seas.upenn.edu/~cis120/">Course
  info and material </a>)</li>
 <li><em>"Theory of Programming Languages"</em> (CS 251, 2012) Wellesley College (<a href="http://cs.wellesley.edu/~cs251/">Course
  info and material </a>)</li>
 <li><em>"Compilers "</em> (CIS 341. 2012) at Univ. Pennsylvania (<a href="http://www.cis.upenn.edu/~cis341/">Course
  info and material </a>)</li>
 <li><em>"Introduction to Computer Science"</em> (CSCI E-250, 2012) at Harvard (<a href="http://cs51.seas.harvard.edu/">Course
  info and material </a>)</li>
 <li><em>"Principles of Programming Language Compilation"</em> (CS 153, 2011) at Harvard (<a href="http://people.fas.harvard.edu/~lib153/index.html">Course
  info and material </a>)</li>
 <li><em>"Programming Language Concepts"</em> (CS 421, 2011) at Univ. Wisconsin (<a href="http://cs.uwlax.edu/~mallen/index.php/cs421.html">Course  info and material </a>)</li>
</ul>

#include "body.trailer.include"

</body>
</html>
