<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>OCaml - Documentation</title>
</head>
<body id="Screen">

#include "body.header.include"

#include "body.leftmenu.include"

<h1>Documentation</h1>

<h2>User Manual</h2>

<ul>
  <li><a href="http://caml.inria.fr/pub/docs/manual-ocaml/index.html">Browse the manual</a></li>
  <li><a href="http://caml.inria.fr/distrib/ocaml-3.12/ocaml-3.12-refman.pdf">Download the PDF</a></li>
  <li><a href="http://caml.inria.fr/distrib/ocaml-3.12/ocaml-3.12-refman.html.tar.gz">Download a bundle of HTML files</a></li>
</ul>

#include "body.trailer.include"

</body>
</html>
