<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>The OCaml Programming Language</title>
</head>
<body id="Screen">

#include "body.header.include"

<h1>OCaml</h1>

<p>
OCaml is a general purpose industrial-strength programming language
with an emphasis on expressiveness and safety. Developed for more than
20 years at INRIA by a group of leading researchers, it benefits from
an advanced type system and supports functional, imperative and
object-oriented styles of programming which ease the development of
flexible and reliable software. Used in environments where a single
mistake can cost millions and speed matters, it is supported by an
active community that developed a rich set of libraries and will help
you to make the most of OCaml possibilities...
</p>

#include "body.trailer.include"

</body>
</html>
