#include "head.include"
   <title>The OCaml Programming Language</title>
</head>

<body>

#include "body.header.include"

<div class="container">
<div class="row">
<div class="span6">
<h1>OCaml</h1>
<p>
OCaml is a general purpose industrial-strength programming language
with an emphasis on expressiveness and safety. Developed for more than
20 years at INRIA by a group of leading researchers, it benefits from
an advanced type system and supports functional, imperative and
object-oriented styles of programming which ease the development of
flexible and reliable software. Used in environments where a single
mistake can cost millions and speed matters, it is supported by an
active community that developed a rich set of libraries and will help
you to make the most of OCaml possibilities.
</p>
</div>

<div class="span6">

<h1>The Caml Consortium</h1>

<p>The current development of OCaml is lead
by <a href="http://caml.inria.fr/">Inria</a>, and commercial support
is provided by the <a href="http://www.ocamlpro.com/">OCamlPro</a>
company.</p>

<p>The Caml Consortium federates the design and development of the
Caml language and its programming environment. The Consortium allow
its members to demonstrate their interest in the Caml language and
express their support to its development. Moreover, they benefit of a
specific license.</p>

<p>To join the Caml Consortium, companies pay an annual fee of 3000
euros. If you are interested, you can find more information on
the <a href="http://caml.inria.fr/consortium/index.en.html">consortium
website</a>.
</p>

<p>
  <span class="logos">
   <span class="logo"><a href="http://www.cea.fr"><img src="files/cea.png" alt="CEA"/></a></span>
   <span class="logo"><a href="http://www.citrix.com"><img src="files/citrix.png" alt="Citrix"/></a></span>
   <span class="logo"><a href="http://www.dassault-aviation.com"><img src="files/dassault-aviation.png" alt="Dassault Aviation"/></a></span>
  </span>
</p>
<p>
  <span class="logos">
    <span class="logo"><a href="http://www.3ds.com"><img src="files/3ds.png" alt="Dassault System"/></a></span>
    <span class="logo"><a href="http://www.esterel-technologies.com"><img src="files/esterel.png" alt="Esterel Technologies"/></a></span>
    <span class="logo"><a href="http://www.janestreet.com"><img src="files/janestreet.png" alt="Jane Street"/></a></span>
  </span>
</p>
<p>
  <span class="logos">
    <span class="logo"><a href="http://www.lexifi.com"><img src="files/lexifi.png" alt="Lexifi"/></a></span>
    <span class="logo"><a href="http://www.microsoft.com"><img src="files/microsoft.png" alt="Microsoft"/></a></span>
    <span class="logo"><a href="http://www.mlstate.com"><img src="files/mlstate.png" alt="MLState"/></a></span>
  </span>
</p>
<p>
  <span class="logos">
    <span class="logo"><a href="http://www.mylife.com"><img src="files/mylife.png" alt="Mylife.com"/></a></span>
    <span class="logo"><a href="http://www.simcorp.com"><img src="files/simcorp.png" alt="SimCorp"/></a></span>
    <span class="logo"><a href="http://www.ocamlpro.com"><img src="files/ocamlpro.png" alt="OCamlPro" height="50" /></a></span>
  </span>
</p>

</div>
</div>
</div>

#include "body.trailer.include"
