#include "head.include"
   <title>Using OCaml</title>
</head>

<body>

#include "body.header.include"

<div class="container">
<div class="row">

<div class="span6">
<h1>Download &amp; Installation</h1>

    <h2>Stable Version</h2>

    <p> The most recent version is <b>OCaml 3.12.1</b>, released on
	2011-07-04.  </p>
    <ul>
      <li><a href="http://yquem.inria.fr/~protzenk/caml-installer/ocaml-3.12.1-mingw32.exe">OCaml 3.12.1 <a href="">Windows Installer</a> (and <a href="http://protz.github.com/ocaml-installer/">its documentation</a>)
      <li><a href="http://caml.inria.fr/pub/distrib/ocaml-3.12/ocaml-3.12.1.tar.gz">OCaml 3.12.1 Sources</a> (for compilation under Unix or Windows Cygwin)
    </ul>

     <p>Find more packages on <a href="http://caml.inria.fr/ocaml/release.en.html">Inria's website</a>.</p>


     <h2>Development Version</h2>

          <p>You can access the most recent version in the SVN: </p>

          <ul>
            <li><a href="http://caml.inria.fr/cgi-bin/viewvc.cgi/">Browse the repository</a>
            <li>Get a copy of the next release:</p>
              <code>svn checkout http:/</code><code>/caml.inria.fr/svn/ocaml/trunk</code>
          </ul>

</div>


<div class="span6">
<h1>Documentation</h1>

<h2>User Manual</h2>

<ul>
  <li><a href="http://caml.inria.fr/pub/docs/manual-ocaml/index.html">Browse the manual</a></li>
  <li><a href="http://caml.inria.fr/distrib/ocaml-3.12/ocaml-3.12-refman.pdf">Download the PDF</a></li>
  <li><a href="http://caml.inria.fr/distrib/ocaml-3.12/ocaml-3.12-refman.html.tar.gz">Download a bundle of HTML files</a></li>
</ul>
</div>

</div>

<div class="row">
<div class="span6">
     <h2>Other Implementations</h2>

     <ul>
       <li>The <a href="http://ocsigen.org/js_of_ocaml/">js_of_ocaml project</a>, an OCaml to Javascript compiler (stable)
       <li>The <a href="http://cafesterol.x9c.fr/">ocamljava project</a>, an OCaml to Java compiler (experimental)
     </ul>
</div>

<div class="span6">
<h1>Features</h1>

<h2>What's new in 3.12 ?</h2>

    <p>
      Some of the highlights in release 3.12 are:

    </p>

    <ul><li> Polymorphic recursion is supported, using explicit type declarations on the recursively-defined identifiers.</li><li> First-class modules: module expressions can be embedded as values of the core language, then manipulated like any other first-class value, then projected back to the module level.</li><li> New operator to modify a signature a posteriori:
<code>S with type t := tau</code> denotes signature <code>S</code>
where the <code>t</code> type component is removed and substituted by the type <code>tau</code> elsewhere.</li><li> New notations for record expressions and record patterns: <code>{ lbl }</code> as shorthand for <code>{ lbl = lbl }</code>, and <code>{ ...; _ }</code>
marks record patterns where some labels were intentionally omitted.</li><li> Local open <code>let open ... in ...</code> now supported by popular demand.</li><li> Type variables can be bound as type parameters to functions; such types are treated like abstract types within the function body, and like type variables (possibly generalized) outside.</li><li> The <code>module type of</code> construct enables to recover the module type of a given module.</li><li> Explicit method override using the <code>method!</code> keyword, with associated warnings and errors.</li></ul>
</div>
</div>

</div>

#include "body.trailer.include"
